name: Publish

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout all commits
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10"

      - name: Pack
        run: dotnet pack --configuration Release -o nuget-packages

      - name: Push
        run: dotnet nuget push "nuget-packages/*" -k ${{ secrets.NUGET_TOKEN }} -s https://api.nuget.org/v3/index.json
